<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>PizzaJava</title>
	</head>
	<body>
		<main style="margin: 50px;">
			<h1 style="text-align: center;">Pizzeria</h1>
			
			<form style="margin-bottom: 20px; display: inline-block;" th:action="@{/pizza/filter}" method="POST">
				<label for="pizza-name">Nome pizza</label>
				<input id="pizza-name" type="text" name="name" th:value="${name}">
				<button>Filtra</button>
			</form>
			
			<a style="color: green; margin-left: 20px;" th:href="@{/pizza/create}">Crea nuova pizza</a>
			
			<a style="color: purple; margin-left: 20px;" th:href="@{/ingredients}">VEDI INGREDIENTI</a>
			
			<div th:if="${pizzaList.size() == 0}">
				Non ci sono pizze qui.
			</div>
			
			<div style="margin-bottom: 10px;" th:if="${pizzaList.size() > 0}" th:each="pizza : ${pizzaList}" th:object="${pizza}">
				<a th:href="@{/pizza/{id} (id=*{id})}">[[ *{name} ]]</a>
				<a style="margin-left: 5px;" th:href="@{/pizza/delete/{id} (id=*{id})}">DELETE</a>
				<a style="margin-left: 5px;" th:href="@{/pizza/edit/{id} (id=*{id})}">EDIT</a>
			</div>
		</main>
	</body>
</html>